.page-transition-enter {
  opacity: 0;
  transform: translateY(20%);
}

.page-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;
}

.page-transition-exit {
  opacity: 1;
  transform: translateY(0);
}

.page-transition-exit-active {
  opacity: 0;
  transform: translateY(-20%);
  transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;
}

.page {
  position: relative;
}
